body {
  background-color: #202020;
  overflow-x: hidden;
}

@font-face {
  font-family: Leixo;
  src: local(Leixo), url(./Fonts/Leixo/LeixoDemo-g613.ttf);
  font-variant: normal;
}

input, button, textarea, select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

.App {
  overflow-x: hidden;
}