.contact__section {
    padding: 10px;
    margin-bottom: 5%;
}

.contact__form {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 10px 0px 10px 10vw;
}

.contact__heading {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

.contact__text {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 300;
    padding: 2% 5% 5% 2%;
    max-width:50%;
    word-wrap:break-word;
}