#contact__formId{
    align-content: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


input[type="text"], [type="email"]{
    outline: none;
    width: 20vw;
    height: 5vh;
    background-color: #272727;
    border-radius: 20px;
    border-width: 2px;
    border-color: #FEDA4E;
    box-shadow: none;
    border-style: solid;
    margin: 2% 1% 02% 0%;
    padding-left: 10px;
    color: white;
}

input[type="submit"] {
    outline: none;
    width: 8vw;
    height: 5vh;
    background-color: #272727;
    border-radius: 20px;
    border-width: 2px;
    border-color: #FEDA4E;
    box-shadow: none;
    border-style: solid;
    transition: 0.1s ease-in;
    color: #FEDA4E;
    padding: 8px 0px 26px 0px;
    margin-right: 11vw;
    text-transform: uppercase;
    float: right;
   
}

input[type="submit"]:hover {
background-color: #FEDA4E;
color: white;
}



input[name="message"] {
    background-color: #272727
}

#user__message {
    outline: none;
    width: 41.8vw;
    height: 5vh;
    background-color: #272727;
    border-radius: 20px;
    border-width: 2px;
    border-color: #FEDA4E;
    border-style: solid;
    margin-left: 0%;
    margin-bottom: 2%;
    padding-left: 10px;
    color: white;

}




@media screen and (max-width: 1021px){
    input[type="submit"] {
    margin-right: 1vw;
    font-size: 1.5vw;
    width: 10vw;
    height: 5vh;
    padding: 1.5vh;
}
input[type="text"], [type="email"] {
    font-size: 1.5vw;
    padding-left: 5px;
    height: 4vw;
}
#user__message {
    font-size: 1.5vw;
    height: 4vw;
}
}

@media screen and (max-width: 656px) {
    input[type="text"], [type="email"] {
        width: 18vw ;
    }
    #user__message {
        width: 37.8vw ;
    }
    input[type="submit"] {
        margin: 0vw;
    }
    }
    
    @media screen and (max-width: 620px){
        input[type="text"], [type="email"] {
            width: 14vw ;
        }
        #user__message {
            width: 29.79vw ;
        }
        input[type="submit"] {
            margin-right: 5vw;
        }
    }

    @media screen and (max-width: 538px){
        input[type="submit"] {
            width: 11vw;
            height: 4vw;
            padding-top: 1vw;
            padding-bottom: 3vw;
        }
    }