

.header__container {
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}

.logo__text {
font-family: Leixo;
color: #FEDA4E;
font-size: 2.6041666666666665vw;
font-weight: bold;
flex-grow: 2;
}

.logo__text span :hover{
    cursor: pointer;
}

.main__menu {

align-self: center;
flex-grow: 3;
margin-left: 15vw;
}

.main__menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main__menu li{   
display: inline;
list-style-type: none;
}

.main__menu  li > a {
    color: white;
    display: inline;
    padding: 8px;
    text-decoration: none;
    font-size: 1.3020833333333333vw;
    margin-right: 2vw;
}

.main__menu li :hover{
 color: #FEDA4E;
 border-bottom: 1px solid #FEDA4E;
 padding-bottom: 10px;
}

.main__menu li :active {
    color: #FEDA4E;
}

.social__links {
align-self: center;
padding: 8px;
color: white;
font-size: 1.953125vw;
flex-grow: 0;
}
.social__links span {
padding-right: 10px;
}

.social__links span :hover {
    color: #FEDA4E;
}

/* @media screen and (max-width: 900px) {
    .header__container {
        justify-content: space-around;
        padding: 0px;
        margin: 0px;
    }
    .social__links {
        display: none;
    }
    .main__menu li> a{
        padding: clamp(0.5vw,1vw,0.5vw);
        margin: clamp(0.5vw,1vw,0.5vw);
    }
} */