.intro__container{
    padding: 15% 10% 15% 10%;
    text-align: center;
}

.intro__name {
    font-family: "Leixo";
    color: #FEDA4E;
    font-size: 105px;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    letter-spacing: 8px;
}

.intro__js{
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 35px;
    padding: 0px;
    margin-top: 5px;
}

.intro__text{
    font-weight: 300;
    color: white;
    font-size: 20px;
    line-height: 1.8rem;
    padding: 0px 32% 0px 32.5%;
    margin: 0px;
    text-align: left;

}

.overview__section{
padding: 2% 5% 5% 5%;
}

.overview__heading{
text-align: left;
color: #FEDA4E;
text-transform: uppercase;
font-weight: 400;
font-size: 40px;
}

.overview__text{
font-weight: 300;
text-align: left;
color: white;
font-size: 24px;
}