.intro__container{
    padding: 15% 0% 15% 0%;
    text-align: center;
}

.intro__name {
    font-family: "Leixo";
    color: #FEDA4E;
    font-size: 6.8359375vw;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    letter-spacing: 8px;
}

.intro__js{
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.2786458333333335vw;
    padding: 0px;
    margin-top: 5px;
}

.intro__text{
    font-weight: 300;
    color: white;
    font-size: 1.4322916666666667vw;
    line-height: 3.713527851458886vh;
    padding: 0px 35vw 0px 35.5vw;
    text-align: left;

}

.overview__section{
padding: 2% 5% 5% 5%;
}

.overview__heading{
text-align: left;
color: #FEDA4E;
text-transform: uppercase;
font-weight: 400;
font-size: 2.6041666666666665vw;
}

.overview__text{
font-weight: 300;
text-align: left;
color: white;
font-size: 1.4322916666666667vw;
}

@media screen and (max-width: 908px) {
    .intro__text{
        line-height: 2vh;
    }
}

@media screen and (max-width: 445px) {
    .intro__text{
        line-height: 1vh;
    }
}