.skills__heading {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 7%;
    padding-bottom: 2%;
}

.heading__section {
    background-color: #272727;
}

.skills__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 05% 10% 10% 10%;
    background-color: #272727;
}

.skills__container {
    height: 250px;
    width: 250px;
    background-color: #3D3E42;
    margin: 10px;
    align-items: center;
    border-radius: 10px;
    justify-items: center;
}

.skills__container:hover{
    background-color: #FEDA4E;
}

.logo__img{
    height: 70px;
    width: 70px;
    margin-left: 36%;
    margin-top: 26%;
}

.logo__name {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 5%;
}

@media screen and (max-width: 1010px){
    .skills__container {
        height: 200px;
        width: 200px;
    }
    .logo__img {
        margin: 0px;
        padding: 35px 30px 0px 65px
    }
}

@media screen and (max-width: 830px){
    .skills__container {
        height: 150px;
        width: 150px;
    }
    .logo__img {
        height: 40px;
        width: 40px;
        margin: 0px;
        padding: 35px 30px 0px 55px
    }
    .logo__name {
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) {
    .skills__section {
        padding: 10px;
    }
    .skills__container {
        height: 100px;
        width: 100px;
        margin: 05px;
        padding: 0px; 
    }
    .logo__img {
        height: 30px;
        width: 30px;
        margin: 0px;
        padding: 15px 0px 0px 35px
    }
    .logo__name {
        font-size: 12px;
    }
}